.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    width: 121;
    height: 61;
    opacity: 100%;
}
.primary-text{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
nav li a{
    text-decoration: none;
    font: size 20px;
    color: #474747;


}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border:none;


}
.banner-gretings{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 128px;
}
.banner-profile-picture{
    width: 584px;
    height: 676px;

}

.banner-content{
    max-width: 580px;

}
.header{
    /* background: url(../images/developer.png),url(../images/header_bg.png); */
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-size: 774px 136px; */
    background-position: top left,bottom right;
   
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.secondary-bg{
    background-color: #FFF8F3;

}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    background-color:#FFF8F3;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 112px;
    text-align: center;
}
.about-title{
    /* background-color: white; */
    text-align: center;

}
.about-description{
    color:#757575;
    font-size: 18px;
}
.about-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* What I do style */
.title{
    text-align: center;
}
.skills{
    display: flex;
    gap: 24px;
}
.skills .title{
    text-align: left;

}